import PropTypes from 'prop-types';
import React from 'react';

const <%= module_name.capitalize %> = () => (
  <div>
    <%= module_name.capitalize %> Component
  </div>
);

<%= module_name.capitalize %>.propTypes = {
  
};

export default <%= module_name.capitalize %>;